<head>
    <h1>Gacha Cats!</h1>
    {{#if player}}
	<h3>Logged in as: {{player.username}}</h3>
    <a href="/collection">Collection</a>
    <a href="/battle/start">Battle</a>
    <a href="/gacha">Gacha</a>
    {{/if}}
</head>
<body>
    {{{body}}}
</body>