<div class="container-fluid text-center">
    <p class="h1">You won!<p>
    <p class="h2">You got: {{fish}} fish and {{coins}} coins</p>
    <form method="POST" action="win">
        <input type="submit" value="Back to battle setup" class="btn btn-secondary">
    </form>
</div>