<div id="catInfo">{{cat.name}} - HP: {{cat.currentHP}}</div>
<div id="opponentInfo">{{opponent.fighterProfile.defaultName}} - HP: {{opponent.currentHP}}</div>
<div id="attackLink">
    <a href="/battle/fight">ATTACK!</href>
</div>