<div class="container-fluid text-center">
    {{#if errorMsg}}
        <div class="alert alert-danger">
            {{ errorMsg }}
        </div>
    {{/if}}
    <img src="/img/gacha_test.jpg" alt="Gacha machine" class="img-fluid">
    <br>
    <a href="/gacha/roll" class="btn btn-primary">ROLL! (💰10)</a>
    <p class="h1 fixed-bottom text-white bg-dark"> 💰 {{user.coins}} </p>
</div>