<h2>Welcome to Gacha Cats!</h2>
{{#unless user}}
    <div id="registrationLink">
        <a href="/register">Register (for new players)</a>
    </div>
    <div id="loginLink">
        <a href="/login">Login (for returning players)</a>
    </div>
{{/unless}}