<div class="container-sm text-center">
    <p class="h1 text-dark">Welcome!</p>
    <p class="h3">Register or log in to start battling!</p>
    {{#unless user}}
        <a href="/register" class="btn btn-primary text-white">Register</a>
        <br>
        <a href="/login" class="btn btn-primary text-white mt-3">Login</a>
    {{/unless}}
</div>