<h3>Welcome! Register or log in to start battling!</h3>
{{#unless user}}
    <div id="registrationLink">
        <a href="/register">Register (for new players)</a>
    </div>
    <div id="loginLink">
        <a href="/login">Login (for returning players)</a>
    </div>
{{/unless}}