<head>
    <link rel="stylesheet" href="/css/styles.css" media="screen">
    <div class="container-fluid text-center">
        <div class="row justify-content-md-center">
            <div class="col col-lg-4"></div>
            <div class="col col-lg-4">
                <img src="/img/logo.png" alt="Gacha Cats!" class="img-fluid">
            </div>
            <div class="col col-lg-1 mt-5">
                {{#if user}}
                    <form method="POST" action="logout">
                        <input type="submit" value="Log out" class="btn btn-primary">
                    </form>
                {{/if}}
            </div>
            <div class="col col-lg-3 my-auto"></div>
        </div>
        {{#if user}}
            <div class="row justify-content-md-center">
                <div class="col col-lg-2">
                    <p class="h2">{{user.username}}</p>
                </div>
                <div class="col col-lg-2">
                    <p class="h2">Level {{user.playerLevel}}</p>
                </div>
                <div class="col col-lg-2">
                    <p class="h2">Win streak: {{user.winStreak}}</p>
                </div>
            <nav class="nav justify-content-center">
                <a href="/collection" class="nav-item nav-link">Collection</a>
                <a href="/battle" class="nav-item nav-link">Battle</a>
                <a href="/gacha" class="nav-item nav-link">Gacha</a>
            </nav>
        {{/if}}
    </div>
</head>
<body>
    {{{body}}}
</body>