<head>
    <!-- Links for styles and fonts -->
    <link rel="stylesheet" href="/css/styles.css" media="screen">
    <!-- REFERENCE: https://www.gyanblog.com/bootstrap/how-to-use-google-fonts-website-bootstrap/ -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Short+Stack">
    <!-- Favicon -->
    <!-- REFERENCE: https://www.w3schools.com/html/html_favicon.asp -->
    <link rel="icon" type="image/x-icon" href="/img/new_favicon.ico">
    <!-- Header for every page -->
    <div class="container-fluid text-center">
        <div class="row justify-content-lg-center">
            <!-- Empty column for spacing -->
            <div class="col col-lg-4"></div>
            <!-- Logo image -->
            <div class="col col-lg-4">
                <img src="/img/logo.png" alt="Gacha Cats!">
            </div>
            <!-- Log out button -->
            <div class="col col-lg-1 mt-5">
                {{#if user}}
                    <form method="POST" action="logout">
                        <input type="submit" value="Log out" class="btn btn-secondary">
                    </form>
                {{/if}}
            </div>
            <!-- Empty column for spacing -->
            <div class="col col-lg-3 my-auto"></div>
        </div>
        <!-- Player information header -->
        {{#if user}}
            <div class="row justify-content-lg-center">
                <!-- Username -->
                <div class="col col-lg-2">
                    <p class="h3">{{user.username}}</p>
                </div>
                <!-- Player level -->
                <div class="col col-lg-2">
                    <p class="h3">Level {{user.playerLevel}}</p>
                </div>
                <!-- Win streak -->
                <div class="col col-lg-2">
                    <p class="h3">Win streak: {{user.winStreak}}</p>
                </div>
            <!-- Nav bar -->
            <nav class="nav justify-content-center my-3">
                <a href="/collection" class="nav-item btn btn-primary text-white mx-3">Collection</a>
                <a href="/battle" class="nav-item btn btn-primary text-white mx-3">Battle</a>
                <a href="/gacha" class="nav-item btn btn-primary text-white mx-3">Gacha</a>
            </nav>
        {{/if}}
    </div>
</head>
<!-- Page body -->
<body>
    {{{body}}}
</body>