<head>
    <h1>Gacha Cats!</h1>
    {{#if user}}
        <h3>Player: {{user.username}}</h3>
        <a href="/collection">Collection</a>
        <a href="/battle">Battle</a>
        <a href="/gacha">Gacha</a
    {{/if}}
</head>
<body>
    {{{body}}}
</body>