<!-- Login/register page -->
<div class="container-sm text-center">
	<!-- Page header -->
	<p class="h1">{{pageName}}</p>
	<!-- Display error message -->
	{{#if errorMsg}}
        <div class="alert alert-danger">
            {{ errorMsg }}
        </div>
    {{/if}}
	<!-- POST form for login/register -->
	<form method="POST" action="{{action}}">
		<div>
			<label for="username" class="form-label">Username</label>
			<input type="text" name="username" value="" placeholder="Username" class="form-control w-50">
		</div>
		<div>
			<label for="password" class="form-label">Password</label> 
			<input type="password" name="password" value="" placeholder="Password" class="form-control w-50 mb-3">
		</div>
		<div>
			<input type="submit" value="{{pageName}}" class="btn btn-secondary">
		</div>
	</form>
</div>