// Theme colors
$primary: #f1994a;
$secondary: #ffe669;
$danger: #ff5792;
$dark: #c1742f;

// Background
$body-bg: #fffae0;

// Border radius (for buttons, form input)
$border-radius: 1rem;

// Text
$font-size-base: 18;
$font-family-base: 'Short Stack', sans-serif;

// Headers
.h1 {
    color: $dark;
}

// Button
$btn-padding-x: 1rem;
$btn-padding-y: 1rem;
$btn-font-size: 1.5rem;

// Text/select form input and labels
$form-label-font-size: 1.5rem;
$input-padding-x: 1rem;
$input-padding-y: 1rem;
.form-control {
    margin: auto;
}

// Radio button form input and labels
.form-check {
    font-size: 2rem;
}

// Alerts
.alert {
    width: 50%;
    margin: auto;
}

// Card text
.card-title {
    font-size: 1.5rem;
    color: $dark;
}
.card-subtitle {
    font-size: 1.5rem;
}

@import "../../../node_modules/bootstrap/scss/bootstrap";